.liste {
  /* Assure que le calcul de la largeur inclut padding et bordures */
  box-sizing: border-box; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Utilise 90% sur petit écran, mais ne dépasse jamais 75% du conteneur parent sur grand écran */
  width: 90%; 
  max-width: 75%; 
  
  /* Centre le menu horizontalement s'il n'est pas déjà centré par le parent */
  margin: 0 auto; 
  
  background-color: rgba(42, 126, 165, 0.342);
}
